body {
    color: rgb(0, 0, 0);
    background-color: #fff01a;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: 'Syncopate', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: initial;
    max-width: 500px;
    min-width: 200px;
    padding-left: 14px;
    text-align: left;
    text-decoration: underline red;
    text-decoration-line: underline;
    -webkit-text-decoration: underline;
    text-decoration-color: red;
    -webkeit-text-color: red;

}
h2 {
    font-size: 30px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 200;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 14px;
    font-style: italic;
}

h5 {
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}


p {
    font-family: 'Bungee Shade', cursive; 
    font-size: 300px;
    margin: 0%;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 50px;
    max-width: 1200px;
    flex: initial;
}

.game-btn-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    flex: initial;
    justify-content: center;
    max-width:1500px;
    flex-shrink: 1;

}
.game-btn {
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex: initial;
    flex-shrink: 1;
    flex: 0 1 auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    transform: scale(.6);
}

.game-btn > img {
    scale: auto;
    display: flex;
    flex: initial;
    flex-shrink: 1;
    margin: auto;
    flex: 0 1 auto;
}

@media  only screen and (max-width: 768px){
    .game-btn > img {
        width: 90%;
    }
    .game-btn-div {
        margin-top: 5%;
        margin-bottom: 50px;

    }
    h1 {
        font-size: 47px;
    }
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
        padding-left: 14px;
        font-style: italic;
    }
    h5 {
        font-size: 11px;
        padding-top: 4px;
        margin-bottom: 0px;
    }
    .scoreboard {
        padding-left: 20px;
        padding-right: 20px;
    }
    .game-btn {
        transform: scale(.9);
    }
    .game-btn:hover {
        transform: scale(1);
    }
    .scoreboard-player, .scoreboard-computer {
        font-size: 80px;
    }
}

.game-btn:hover {
    transform: scale(.63);
    transition: .12s;
}

button {
    max-width: 300px;
}

.reset-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
}

.myButton {
	background-color:#000000;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}
.myButton:hover {
	background: red;
	background-color:#ff0000;
}
.myButton:active {
	position:relative;
	top:1px;
}


.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    gap: 100px;
}

.scoreboard-text {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
}

.scoreboard-player, .scoreboard-computer {
    font-size: 100px;
    border-radius: 40px;
    font-family:  'IBM Plex Mono', monospace;
    font-weight: 200;
    margin-top: 0%;
}
.scoreboard-computer {
    margin-left: 10%;
    margin-right: 10%;
}
.gameMsg {
    display : flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    margin-top: 5%;

}

@media screen and (max-width: 768px){
    .gameMsg {
        font-size: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .scoreboard-player, .scoreboard-computer {
        background-color: rgba(0, 0, 0, 0);
        font-size: 50px;
    }
    .scoreboard {
        gap: 100px;
        margin-top: 0%;
    }
}

.scoreboard-player-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.scoreboard-text {
    margin: 0%;
}